.main {
	display: flex;
	justify-content: space-around;
	align-content: space-around;

	.left,
	.right {
		width: 50%;
	}
	.right {
		width: 17em;
	}
}

.left {
	padding: 1em;
	.ingredient {
		background-color: #faf5f1;
		border-radius: 6px;
		padding: 0.5em;
		.single_ingridient {
			ul {
				list-style: none;
				padding-right: 1em;
				li {
					border-bottom-style: solid;
					border-color: #efe0d3;
					i {
						border-right: #efe0d3;
						border-right-style: solid;
						padding: 0.5em;
					}
				}
			}
		}
	}
}

.recipe-features {
	height: 4.5rem;
	width: 16rem;
	width: 50%;
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-top: 0.05em solid grey;
	border-bottom: 0.05em dashed grey;
	ul {
		width: 8em;
		float: right;
	}
	li {
		list-style-type: none;
		display: inline;
	}
	img {
		max-width: 1.5em;
	}
	span {
		text-transform: uppercase;
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		padding-top: 1rem;
	}
	span#features {
		float: left;
	}
	.first {
		width: 50%;
		line-height: 1em;
		img {
			width: 1em;
		}
	}
	.cuisine {
		position: relative;
		width: 31%;
		span#cuisine {
			height: 2.3em;
			padding-top: 0.7em;
		}
		.photo {
			position: relative;
			height: 1.2em;
			img {
				// e bine uneori sa te uiti ce se compileaza n style.css
				position: absolute;
				height: 1.2em;
				top: 0rem;
				right: 2rem;
			}
		}
	}
}

.single-meta {
	background-color: #ecf6f6;
	padding: 10px 0px;
	margin-bottom: 60px;
	border-radius: 6px;
	font-size: medium;
	width: 23em;
	ul {
		width: 100%;
		list-style-type: none;
		display: inline-flex;
		justify-content: space-between;
		li {
			padding-right: 1em;
			display: inline-block;
			border-right: 1px solid rgba(0, 0, 0, 0.1);
		}
		.single-meta-difficulty {
			border-right: none;
		}
	}
}

.direction {
	span.bordered-title {
		border-bottom: 2px solid rgba(0, 0, 0, 0.9);
		padding-bottom: 5px;
		display: inline-block;
	}
}
